*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: monospace;
}
.my-page{
    display: grid;
    
}
body {
    
    margin: 0;
    padding: 0;
}
.nav-bar {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid;
    background-color: white;
    
    padding: 10px;
    border-radius: 30px;
  }
  
 
  .nav-bar a {
    
    float: right;
    text-align: center;
    padding: 12px;
    margin: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 20px;
    border-left: 5px solid;
    border-right: 5px solid;
    border-radius: 5px;
  }
  
  
  .nav-bar a:hover {
    background-color: aqua;
    color: black;
    border-radius: 30px;
  }
  
  @media screen and (max-width: 600px) {
    .nav-bar a {
        float: none;
        border-bottom:2px solid ;
        display: block;
        border-radius: 10px;
        color: black;
    }
    .nav-bar{
        border: none;
        background-color: white;
        color: black;
    }
    .hero-img{
        width: 100%;
        height: 63.5%;
        border-radius: 30px;
    }
    .hero{
    
    
        width: 100%;
        height:100%;
        
        position: relative;
        border-radius:30px ;
        
        padding: 10px;
      }
      .experience{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
      
  
  }
  @media only screen and (min-width: 600px) {
    .nav-bar{
        display: flex;
        justify-content: center;
    }
    .hero{
    
    
        width: 100%;
        height:650px;
        position: relative;
        border-radius:30px ;
        padding: 10px;
    }
}
     
  

  
  .hero-img{
    width: 100%;
    height: 100%;
    
    border-left: 5px solid aqua;
    border-right: 5px solid aqua;
    border-radius: 30px;
}

.button-hero{
    font-size: 40px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 30px;
    
    text-align: center;
    font-weight: bold;
    position: absolute;
    color:aqua;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all.3s ease;
}
.button-hero:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.back{
    left: 2%;
    top: calc(50% - 50px);
}
.foward{
    right: 2%;
    top: calc(50% - 50px);
}
.experience{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 2px solid black;
    border-radius: 30px;
}
.box{
    display: grid;
    grid-template-areas: "exp-img "
    "info";
    
    justify-content: space-around;
    
    width: 100%;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    
}
.exp-img{
    grid-area: exp-img;
    height: 200px;
    width: 90%;
   border-radius: 30px;
}
.exp-info{
    text-align: center;
    width: 90%;
    grid-area: info;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-radius: 30px;
}
.exp-info:hover{
    background-color: aqua;
}
.about-me{
    display: grid;
    grid-template-areas: 
    "me-img me-corto me-largo"
    "me-name me-moti me-moti ";
    padding: 10px;
}
.me-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
}
.me-img{
    grid-area: me-img;
}
.foto{
    height: 200px;
    width: 50%;
   border-radius: 15px;
}
    
.me-nombre{
    grid-area: me-name;

    font-family: monospace;
}
.me-box h3{
    text-decoration: underline;
    border-radius: 10px;
}   
.me-corto{
    grid-area: me-corto;
    border-bottom: 2px solid aqua;
    border-radius: 10px;
}

.me-largo{
    grid-area: me-largo;
    border-bottom: 2px solid aqua;
    border-radius: 10px;
}
.me-moti{
text-align: justify;
    width: 100%;
    grid-area: me-moti;
    border-bottom: 2px solid aqua;
    border-radius: 10px;
}
.contact-me{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: white;
    background-color: black;
}
.box-media{
    
    width: 45%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    
    
}
.box-media h2{
    margin-bottom: 30px;
    font-size: x-large;
    color: aqua;
}   

.media-button{
    
    margin-bottom: 10px;
}
.media-button a{
    font-size: larger;
    border-bottom: 2px solid white;
    padding: 1px;
    border-radius: 15px;
}
.media-button a:hover{
    background-color: aqua;
}


.box-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;

    font-size:x-large;
    margin-right: 40px;
    
    width: 75%;
    color: aqua;
    
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.form-left{
    margin-top: 20px;
    width: 100%;
    
}
.form-right{
    padding-top: 20px;
    width: 100%;
    
}
.example-group {
    position:relative;
    margin-top: 10px;
  }

  .example-input {
    background-color: black;
    border: 2px solid aqua ;
    padding: 8px;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    color: white;
    
  }
  .text-area{
    margin-top: 40px;
    width: 300px;
    height: 100px;
  }
  .form-buttom{
    font-size: large;
}

  .input-label {
    background-color: black;
    color: aqua;
    font-size: 15px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
  }
  .area{
    margin-top: 40px;
  }
@media screen and (max-width: 600px) {
    .box{
        display: grid;
        grid-template-areas: "exp-img info";
        align-items: center;
        border: 2px solid black;
        width: 100%;
        padding: 5px;
        margin: 10px;
        border-radius: 15px;
        
    }
    .exp-info{
        text-align: center;
        width: 150px;
        grid-area: info;
        border-bottom: 2px solid black;
        border-radius: 30px;
    }
    .about-me{
        display:flex;
        flex-direction: column;
    }
    .box-form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .contact-me{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

}